package models

import (
	"github.com/jinzhu/gorm"
)


{{range $key, $v := .Vertices}}
	type {{$v.Name}} struct {
	gorm.Models
	{{range $key, $c := $v.Cols}}
  	{{ $c.Name }} {{ $c.Type }}
	{{- end}}
	}
{{end}}
